noderedFlow.json
[{"id":"6536063db01ec323","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f1a8a57d.896448","type":"inject","z":"6536063db01ec323","name":"CREATE","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":180,"wires":[["16d49f4f.2f72e1"]]},{"id":"d8886e88.2e352","type":"debug","z":"6536063db01ec323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":180,"wires":[]},{"id":"565b9eff.a027b","type":"inject","z":"6536063db01ec323","name":"INSERT","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":240,"wires":[["2ac9919.fbaf86e"]]},{"id":"2ac9919.fbaf86e","type":"function","z":"6536063db01ec323","name":"INSERT","func":"if (Math.random() < 0.5) { room = 503;}else{ room = 602; }\nif (Math.random() < 0.5) { id = 9909;}else{ id = 1893; }\n\ntopic = \"INSERT INTO `test`.`access` (`room`, `id`) VALUES ('\";\ntopic = topic + room +\"', '\";\ntopic = topic + id + \"');\";\n\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["fdbcc9a.f22b838"]]},{"id":"7286764d.703128","type":"debug","z":"6536063db01ec323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]},{"id":"e11efb22.8739f8","type":"inject","z":"6536063db01ec323","name":"DELETE ","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":300,"wires":[["8094763.a62db88"]]},{"id":"ee3ecafb.5dddf8","type":"debug","z":"6536063db01ec323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":300,"wires":[]},{"id":"c0fb919f.f6544","type":"inject","z":"6536063db01ec323","name":"UPDATE","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":360,"wires":[["86051971.03c5c8"]]},{"id":"26081a12.74a426","type":"debug","z":"6536063db01ec323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":360,"wires":[]},{"id":"17cfb5e3.60ca7a","type":"inject","z":"6536063db01ec323","name":"COUNT","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":420,"wires":[["4f194982.db8818"]]},{"id":"c1a61fe1.01abc","type":"inject","z":"6536063db01ec323","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":260,"y":480,"wires":[["2fa7fa16.df7d36"]]},{"id":"99b466a0.219ac8","type":"ui_template","z":"6536063db01ec323","group":"eed4bf37.31aee","name":"","order":2,"width":"6","height":"7","format":"\n        \n<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Time</th>\n    <th>Room</th> \n    <th>ID</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td><center>{{$index}}</center></td>\n    <td><center>{{msg.payload[$index].date}}</center></td>\n    <td><center>{{msg.payload[$index].room}}</center></td> \n    <td><center>{{msg.payload[$index].id}}</center></td>\n  </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":620,"y":540,"wires":[[]]},{"id":"284382e1.7b6bde","type":"comment","z":"6536063db01ec323","name":"MariaDB","info":"https://mariadb.org/\n\n//SELECT COUNT(*) FROM RANDOMNUM\n//SELECT COUNT(*) FROM `test`\n// UPDATE RANDOMNUM SET BOOL = 1 WHERE VALUE > 20 AND BOOL = 0\n\n//UPDATE `test`.`access` SET `room`='602' LIMIT 1;\n\n//DELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-30 seconds')*1000\n\n//DELETE FROM `test`.`access` WHERE  `no`=3 AND `time`='2021-06-07 17:37:03' AND `room`=503 AND `id`=1893 LIMIT 1;\n","x":240,"y":60,"wires":[]},{"id":"16d49f4f.2f72e1","type":"function","z":"6536063db01ec323","name":"TABLE","func":"topic = \"CREATE TABLE `access` ( \";\ntopic = topic + \"`no` INT NULL AUTO_INCREMENT,\";\ntopic = topic + \"`date` TIMESTAMP NOT NULL,\";\ntopic = topic + \"`room` INT NULL,\";\ntopic = topic + \"`id` INT NULL,\";\ntopic = topic + \"INDEX `no` (`no`)) COLLATE='latin1_swedish_ci';\";\nmsg.topic = topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["392b8ab7.e19ac6"]]},{"id":"982a5d4d.e294f","type":"inject","z":"6536063db01ec323","name":"CREATE","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":120,"wires":[["3648a443.b264bc"]]},{"id":"8f16a404.412c08","type":"debug","z":"6536063db01ec323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":120,"wires":[]},{"id":"3648a443.b264bc","type":"function","z":"6536063db01ec323","name":"DATABASE","func":"var newMsg = {\n\"topic\" : \"CREATE DATABASE `test`;\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[[]]},{"id":"8094763.a62db88","type":"function","z":"6536063db01ec323","name":"DELETE ","func":"var newMsg = {\n\"topic\" : \"DELETE FROM `test`.`access` ORDER BY no DESC LIMIT 1\"\n}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["30524e2a.cfc672"]]},{"id":"86051971.03c5c8","type":"function","z":"6536063db01ec323","name":"UPDATE","func":"var newMsg = {\n\"topic\" : \"UPDATE `test`.`access` SET `room`='602' ORDER BY date DESC LIMIT 1;\"\n}\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["9112997a.e12398"]]},{"id":"4f194982.db8818","type":"function","z":"6536063db01ec323","name":"COUNT","func":"var newMsg = {\n\"topic\" : \"SELECT COUNT(*) FROM `test`.`access`;\"\n}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["ef30769c.f2b218"]]},{"id":"6bb93345.de551c","type":"debug","z":"6536063db01ec323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":420,"wires":[]},{"id":"2fa7fa16.df7d36","type":"function","z":"6536063db01ec323","name":"SELECT","func":"var newMsg = {\n\"topic\" : \"SELECT * FROM accessi;\"\n}\nreturn newMsg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["dd12c746.831c48"]]},{"id":"6d7d1453.5a80ec","type":"function","z":"6536063db01ec323","name":"Date to TS","func":"\nfor(var i = 0; i < msg.payload.length; i++){\n    var dd = new Date(parseInt((new Date(msg.payload[i].date).getTime()).toFixed(0)));\n    msg.payload[i].date = dd.toLocaleTimeString('it-IT');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":540,"wires":[["99b466a0.219ac8"]]},{"id":"fdbcc9a.f22b838","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":240,"wires":[["7286764d.703128"]]},{"id":"392b8ab7.e19ac6","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":180,"wires":[["d8886e88.2e352"]]},{"id":"1c79da55.f69436","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":120,"wires":[["8f16a404.412c08"]]},{"id":"30524e2a.cfc672","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":300,"wires":[["ee3ecafb.5dddf8"]]},{"id":"9112997a.e12398","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":360,"wires":[["26081a12.74a426"]]},{"id":"ef30769c.f2b218","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":420,"wires":[["6bb93345.de551c"]]},{"id":"dd12c746.831c48","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":650,"y":480,"wires":[["cb4de9f3.133428"]]},{"id":"2061246d.5ba25c","type":"link in","z":"6536063db01ec323","name":"","links":["cb4de9f3.133428"],"x":295,"y":540,"wires":[["6d7d1453.5a80ec"]]},{"id":"7d2f1aaae8083173","type":"http in","z":"6536063db01ec323","name":"addComodato","url":"/addComodato","method":"post","upload":false,"swaggerDoc":"","x":170,"y":840,"wires":[["6f8a1c33c0847bdb"]]},{"id":"6f8a1c33c0847bdb","type":"debug","z":"6536063db01ec323","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.username","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":840,"wires":[]},{"id":"3115b2bdf922fc66","type":"http in","z":"6536063db01ec323","name":"getStudenti","url":"getStudenti","method":"get","upload":false,"swaggerDoc":"","x":170,"y":640,"wires":[["2346636b09570feb"]]},{"id":"2346636b09570feb","type":"function","z":"6536063db01ec323","name":"selectStudenti","func":"var newMsg = {\n\"topic\" : \"SELECT * FROM studenti;\"\n}\nreturn newMsg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":640,"wires":[["5adfeae4a86b74a1"]]},{"id":"5adfeae4a86b74a1","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":530,"y":640,"wires":[["35cba1f34c7115cf"]]},{"id":"cb4de9f3.133428","type":"link out","z":"6536063db01ec323","name":"","mode":"link","links":["2061246d.5ba25c","9083bf8e28296086","a5a4b3fe01369314"],"x":735,"y":480,"wires":[]},{"id":"dda41ce49631c4a4","type":"debug","z":"6536063db01ec323","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":680,"wires":[]},{"id":"35cba1f34c7115cf","type":"json","z":"6536063db01ec323","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":640,"wires":[["4e8237da.b17dc8"]]},{"id":"4e8237da.b17dc8","type":"template","z":"6536063db01ec323","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":810,"y":640,"wires":[["65401623.9abfe8"]]},{"id":"65401623.9abfe8","type":"change","z":"6536063db01ec323","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":640,"wires":[["f7d3e35a.082c2","dda41ce49631c4a4"]]},{"id":"f7d3e35a.082c2","type":"http response","z":"6536063db01ec323","name":"","statusCode":"","headers":{},"x":1130,"y":640,"wires":[]},{"id":"e15abacd821dfd75","type":"function","z":"6536063db01ec323","name":"selectStudenti","func":"var newMsg = {\n\"topic\" : \"SELECT * FROM studenti;\"\n}\nreturn newMsg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":740,"wires":[["c91a106a9aeef373"]]},{"id":"c91a106a9aeef373","type":"mysql","z":"6536063db01ec323","mydb":"2236dfd1.c909e","name":"","x":530,"y":740,"wires":[["3eec2487b3270341"]]},{"id":"894c2d21502c952a","type":"debug","z":"6536063db01ec323","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":780,"wires":[]},{"id":"3eec2487b3270341","type":"json","z":"6536063db01ec323","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":740,"wires":[["342113c757b30ea6"]]},{"id":"342113c757b30ea6","type":"template","z":"6536063db01ec323","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":810,"y":740,"wires":[["80a03fbd638336cb"]]},{"id":"80a03fbd638336cb","type":"change","z":"6536063db01ec323","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":740,"wires":[["3802e57ca284c57c","894c2d21502c952a"]]},{"id":"3802e57ca284c57c","type":"http response","z":"6536063db01ec323","name":"","statusCode":"","headers":{},"x":1130,"y":740,"wires":[]},{"id":"7e33a2b813cf35af","type":"http in","z":"6536063db01ec323","name":"getOggetti","url":"getOggetti","method":"get","upload":false,"swaggerDoc":"","x":160,"y":740,"wires":[["e15abacd821dfd75"]]},{"id":"eed4bf37.31aee","type":"ui_group","name":"[ Access Data of Class Room ]","tab":"6d23db44.1697d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2236dfd1.c909e","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"maui_management","tz":"","charset":""},{"id":"6d23db44.1697d4","type":"ui_tab","name":"Main Tab","icon":"dashboard","order":1}]